@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
=========================================================
colour configuration using native tailwind css colours
=========================================================

/** customized texts **/

body{
  font-family: Poppins;
}

.text--colors_head {
  @apply text-slate-900 dark:text-white;
}

.text--colors_default {
  @apply text-slate-900 dark:text-paraDark;
}

.text--colors_primary {
  @apply  text-primary dark:text-primary;
}

.border--default{
  @apply  border-borderLight dark:border-borderDark
}

/** customized backgrounds **/
.bg--default {
  @apply  bg-whiteBg dark:bg-blackBg;
}

.transition-700{
  @apply transition duration-700
}

.text--header{
  @apply text-headerLight dark:text-headerDark
}

.bg--card{
  @apply bg-lightGreyBg dark:bg-greyBg;
}

.link--panel{
  @apply  bg-[#dbdbdbbf] dark:bg-linkPanel
}

.gradient--default{
  @apply bg-gradient-to-br from-borderLight via-eerieLight to-eerieLight dark:from-borderDark dark:via-eerieDark dark:to-eerieDark
}

.text--para_default{
  @apply text-headerLight dark:text-paraDark
}

.container {
  @apply  w-[94%] max-w-[1220px] mx-auto
}

.info--before_default::before{
  @apply content-normal absolute h-[45px] w-[45px] inset-[1px] rounded-xl -z-0 bg-white
}
/* .info--before_default::before{
  @apply before:[] before:absolute before:h-[45px] before:w-[45px] before:inset-[1px] before:rounded-xl before:-z-0 before:bg-white
} */

.caps{
  text-transform: uppercase;
}
.come {
  color: #d6d6d6b2;
  background:  linear-gradient( to right, #9f1fef, #5d19e6 );
}

.modal-bg-open {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 99999999999999999999999999999999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s ease-in-out
}

.modal-bg-close {
  display: none;
}

.card-open {
  width: 30%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: dropIn .5s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-close {
  width: 30%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: dropIn .5s ease-in-out;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide{
  height: none;
}

.swiper-wrapper{
  /* display: flex !important; */
  /* align-items: flex-end !important; */
  gap: 2rem;
  width: 0px !important;

}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 50% !important;
  max-width: 50% !important;
  transform: translateX(-50%);
  background: #2b2b2cbf !important;
  bottom: 10px;
  z-index: 50;
}

.swiper-scrollbar-drag {
  background: #9f1fef !important;
}